// fontes
$fontePrincipal: 'Roboto', sans-serif;

// cores
$bodyBGC: #f5f6fa;
$buttonBGC: #44bd32;
$headerBGC: #182C61;
$textColor1:#fff;
$textColor2: black;
$hoverBGC: #4cd137;

// breakpoints
$mobile: 767px;
$tablet: 1023px;